version: "3.7"

services:
  mysqldb:
    image: mysql
    restart: unless-stopped
    ports:
      - 3306:3306
    environment:
      - MYSQL_USER=etsyadmin
      - MYSQL_PASSWORD=etsyadminpass
      - MYSQL_ROOT_PASSWORD=mysqlrootpassword
    volumes: 
      - ./data:/var/lib/mysql
      - ./db-init-scripts:/docker-entrypoint-initdb.d
    networks: 
      - etsy

  backend:
    depends_on: 
      - mysqldb
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - 7000:3000
    volumes: 
      - type: bind
        source: ./backend
        target: /app
      - type: bind
        source: ./backend/node_modules
        target: /app/node_modules
    restart: unless-stopped
    networks: 
      - etsy

  # frontend:
  #   depends_on: 
  #     - backend
  #   build:
  #     context: ./frontend
  #     dockerfile: Dockerfile
  #   ports:
  #     - 3000:3000
  #   volumes: 
  #     - type: bind
  #       source: ./frontend
  #       target: /app
  #     - type: bind
  #       source: ./frontend/node_modules
  #       target: /app/node_modules
  #   restart: unless-stopped
  #   networks: 
  #     - etsy

networks: 
  etsy: