.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.outer {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
  border: 2px solid black;
}


.brand{
  font-size: 45px;
  font-family:'Graphik Webfont,-apple-system,Helvetica Neue,Droid Sans,Arial,sans-serif';
  color: rgb(240, 92, 38);
  font: bold;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 15px;
  text-decoration: none;
}
.blue-box{
      -webkit-text-size-adjust: 100%;
    --vh: 6.7px;
    color: #222;
    font-size: 14px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    margin: 0;
    box-sizing: inherit;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    position: absolute !important;
    background-color: #ffe2f6 !important;
    height: 36%;
    font-weight: 300;
    font-size: 52px;
    line-height: 56px;
    box-sizing: inherit;
    text-align: center !important;
    padding-top: 25px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
